# Игнорируем виртуальное окружение
venv/
.env/

# Игнорируем файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Игнорируем логи и временные файлы
*.log
*.tmp

# Игнорируем IDE-специфичные файлы
.vscode/
.idea/

# Игнорируем файл .env с конфиденциальными данными
.env